<div class="navbar">
	<div class="heading">Tic Tac Toe</div>
	<div class="score">
		<span>{{score}}</span> You vs AI <span>{{aiScore}}</span>
	</div>
</div>
<div class="container">
	<app-block *ngFor="let block of blockData" [isActive]="block.isActive" [backgroundColor]="block.backgroundColor"
		[blockValue]="block.blockValue" (click)="onBlockClick(block.id)"></app-block>
</div>
<div class="popup" *ngIf="showPopup">
	<app-popup [message]="popupMessage" (btnClick)="btnClick()"></app-popup>
</div>